body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;

  padding-top: 25px;
  background-color: #c8aaf0;
  color: rgb(51, 51, 51);
  margin: 0 auto;
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;

}

h1,
strong {
color: #333;
}