body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1,
h2,
strong {
  color: #333;
}
